@import "tailwindcss";

@theme {
  --color-background: #0D0D0F; /* fondo de la pagina, negro oscuro */
  --color-surface: #1A1A1D; /* fondo de la barra de navegacion, gris claro */
  --color-primary: #7F5AF0; /* color primario, rosa */
  --color-secondary: #2CB67D; /* color secundario, entre azul y morado */
  --color-warning: #FFB800; /* color de advertencia, amarillo */
  --color-danger: #EF4565;  /* color de error, rojo casi rosa */
  --color-text-primary: #EDEDED; /* texto primario, gris claro */
  --color-text-secondary: #AFAFAF; /* texto secundario, gris medio */
  --color-border: #2A2A2E; /* color de borde, gris medio fuerte */
}

/* esto es para poder colocar como fuente global el font de Roboto Mono */
@font-face {
  font-family: "RobotoMono";
  src: url("/static/fonts/RobotoMono-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "RobotoMono", monospace;
}